node_modules/*
.DS_Store

# for testing mostly
test/project/android/assets/www/childbrowser*
test/project/ios/www/childbrowser*
test/project/android/src/**/
test/project/android/res/xml/plugins.xml
test/project/android/AndroidManifest.xml
test/project/ios/SampleApp/PhoneGap.plist
test/project/ios/SampleApp.xcodeproj/project.pbxproj
test/project/ios/SampleApp/Plugins/*
test/project/blackberry/www/childbrowser*
test/project/blackberry/www/plugins.xml
